# Build output
dist/

# Dependencies
node_modules/

# Bun
# Bun lockfile (bun.lockb) is usually committed, similar to package-lock.json or yarn.lock
# bun-debug.log* # Uncomment if Bun starts producing debug logs you want to ignore

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/ # If you don't want to commit workspace specific settings
.idea/

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!/.env.example # Typically, you commit an example env file

# Test coverage
coverage/
lcov-report/
